.multi-intro{
    padding-top: 10px;
    background-image: url('1vs1-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#multi-logo{
  position: relative;
  top: -15%;
  width:70%;
  height:70%;
}
.multiplayer-buttons{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:45%;
  top:-35%;
}
#multi-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  background: linear-gradient(to left, #f4854e, #1e90ff);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#multi-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #f4854e, #1e90ff);
  box-shadow: 0 0 10px #ff4e50, 0 0 10px #1e90ff;
}
#multi-leaderboard-btn {
 
  padding: 15px 30px;
  font-size: 1.2rem;
  background: linear-gradient(to left, #f4854e, #2196f3);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#multi-leaderboard-btn:hover {
  transform: scale(1.07);
  background: linear-gradient(to right, #f4854e, #2196f3);
  box-shadow: 0 0 10px #ff4e50, 0 0 10px #2196f3;
}
.multirules{
    position: absolute;
    top: 50%;
    border-radius: 10px;
    font-weight: 650;
    font-size: 1rem;
    padding: 5px 10px;
    color: linear-gradient(135deg,white,black);
    min-height:200px;
    width:45%;
    background:transparent;
    background-image: linear-gradient(135deg,rgba(255,255,255,0.3),rgba(0,0,0,0.3));
    -webkit-backdrop-filter:blur(3px);
    backdrop-filter: blur(3px);
}

@media (max-width:600px){
  #multi-logo{
    top: -15%;
    width:100%;
    height:60%;
  }
  .multiplayer-buttons{
    width:90%;
    top:-35%;
    flex-direction: column;
    gap:10px;
    align-items: center;
  }
  .multirules{
    top:50%;
    width:90%;
    left:3%;
    font-size: 0.9rem;
  }

}

.onevone{
	background: white;
    padding-top: 0;
}
.allplayerstats{
    display:flex;
    background: whitesmoke;
    width:80%;
    height: 100px;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 10px;
}
.allplayerstats p{
    font-size: xx-large;
}
.playerstats{
    background-color: lightsalmon;
    border-radius: 10px;
    min-width: 350px;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    align-items: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding:0px 5px;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
}
.multiworld {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin-top: 10px;
  gap: 20px;
  font-size: large;
  animation: fadeIn 1s ease-in;
}
#multimatter {
  background-color: white;
  border: 2px solid #bdc3c7;
  padding: 20px;
  border-radius: 12px;
  width: 70%;
  min-height: 200px;
  box-sizing: border-box;
  resize: none;
  font-size: 1.5rem;
  line-height: 2;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: left;
  overflow: visible;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#multispace {
  background-color: white;
  border: 2px solid #bdc3c7;
  color: #2d3436;
  padding: 20px;
  border-radius: 12px;
  width: 70%;
  min-height: 250px;
  box-sizing: border-box;
  resize: none;
  font-size: 1.2rem;
  line-height: 1.8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.hide {
  display: none;
}
.multi-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.popup-fade {
  opacity: 1;
}
.multi-card {
  border: 2px solid;
  border-radius: 12px;
  padding: 25px;
  background: whitesmoke;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  max-width: 380px;
  width: 90%;
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;
}
.popup-show {
  transform: scale(1);
  opacity: 1;
}
.multi-card h3{
  margin: 0;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}
.multi-celeb {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
}
@media (max-width:600px){
    .allplayerstats{
        width:100%;
    }
    .allplayerstats p{
        font-size: larger;
    }
    .playerstats{
        min-width: 0;
        width:40%;
    }
    .name{
        font-size: 0.7rem;
        font-weight: 800;
    }
    .wpm,
    .accu{
        font-size: 0.6rem;
        font-weight: 500;
    }
    .multiworld{
        width: 100%;
        margin-top: 10px;
    }
    #multimatter{
        font-size: 1rem;
        min-height: 120px;
        max-height: 150px;
        min-width: unset;
        width:100%;
        line-height: 1.3;
        padding:10px;
    }
    #multispace{
        font-size: 0.9rem;
        min-height: 120px;
        min-width: unset;
        width:100%;
        line-height: 1.3;
        padding:10px;
    }
}

.multileaderpage{
  background: white;
  position: relative;
  z-index: 1;
  padding-top: 10px;
  gap:5px;
}
.multileaderpage::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('1vs1-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.05;
  z-index: -1;
}
.multileaderpage h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-top: 10px;
  margin-bottom: 20px;
}
.gradient-icon {
  background: linear-gradient(to right, orange,gold,orange);
  background-size: 200%;
  animation: shimmer 1.5s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shimmer {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}

.top-ranks {
  width:75%;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 0;
}
.gold-rank, .silver-rank, .bronze-rank {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.gold-rank{
  width:40%;
  height:80%;
  background: linear-gradient(135deg, #fffacd, #ffd700, #ffec8b);
  border-color: #d4af37;
}
.silver-rank{
  width:30%;
  height:75%;
  background: linear-gradient(135deg, #f0f0f0,#c0c0c0, #dcdcdc);
  border-color: #c0c0c0;
}
.bronze-rank{
  width:25%;
  height:70%;
  background: linear-gradient(135deg, #ffe0b2, #cd7f32, #e6a76d);
  border-color: #e6a76d;
}
#usericon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#crown{
  font-size: 2.5rem;
}
.ico-crown{
  position: absolute;
  top: 5%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gold-rank .fa-user{
  border-color:#d4af37;;
}
.silver-rank .fa-user{
  border-color: #c0c0c0;
}
.bronze-rank .fa-user{
  border-color: #e6a76d;
}
.gold-rank .fa-crown{
  background: linear-gradient(135deg,#ffd700,#ffd700, orange);
  background-size: 400%;
  animation: goldshimmer 6s infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes goldshimmer {
  0% { background-position: 0%; }
  25% { background-position: 100%; }
  50% { background-position: 200%; }
  75% { background-position: 100%; }
  100% { background-position: 0%; }
}
.silver-rank .fa-crown{
  color: silver;
}
.bronze-rank .fa-crown{
  color: #cd7f32;
}
.toprank-info {
  position: absolute;
  top: 60%; 
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px; 
}
.toprank-info p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.toprank-name {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
}
.toprank-exp{
  font-weight: bold;
}
#gold-name,
#gold-exp{
  font-size: 1rem;
}
#silver-name,
#silver-exp{
  font-size: 0.95rem;
}
#bronze-name,
#bronze-exp{
  font-size: 0.9rem;
}
#multi-board{
  gap:5px;
}
@media (max-width: 600px) {
  .multileaderpage h1 {
    font-size: 1.5rem;
  }
  #usericon {
    width: 35px;
    height: 35px;
  }
  #crown {
    font-size: 1.8rem;
  }
  .top-ranks {
    width:100%;
    gap:2px;
    height:150px;
  }
  #gold-name,
  #gold-exp{
    font-size: 0.7rem;
  }
  #silver-name,
  #silver-exp{
    font-size: 0.68rem;
  }
  #bronze-name,
  #bronze-exp{
    font-size: 0.65rem;
  }
}
@media (min-width: 601px) and (max-width: 992px) {
  .multileaderpage h1 {
    font-size: 2rem;
  }
  #usericon {
    width: 40px;
    height: 40px;
  }
  #crown {
    font-size: 2rem;
  }
  .top-ranks {
    width:100%;
    gap:10px;
    height:180px;
  }
  #gold-name,
  #gold-exp{
    font-size: 0.8rem;
  }
  #silver-name,
  #silver-exp{
    font-size: 0.78rem;
  }
  #bronze-name,
  #bronze-exp{
    font-size: 0.75rem;
  }
}

